/*リセットCSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*全体部分*/
body {
    font-family: "游ゴシック", "Yu Gothic",'メイリオ', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/*ヘッダー部分*/
header {
    background-color: #fff;
    height: 80px;
    font-weight: bold;
    position: fixed;
    width: 100%;
}

header li {
    float: left;
    padding: 33px 50px 30px 50px;
}

header a {
    text-decoration: none;
}

header a:hover {
    color:#67A7CC;
}

/*ロゴのみに下記適用*/
li:first-child {
    padding: 25px 30px;
    margin: 0 240px;
}

/*新規登録ボタンにのみ下記適用*/
li:nth-of-type(5) {
    background-color: #FFF;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    margin: 15px 150px 15px 40px;
    padding: 17px 35px;
    border: solid 2px #67A7CC;
    height: 15px;
}

/*TOP画像*/
.top-wrapper img {
    height: 800px;
    width: 100%;
}

/*おまとめ一覧*/
.mid-wrapper {
    background-color: #fff;
    height: 1000px;
}

.mid-wrapper h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.image1 {
    height: 200px;
    width: 200px;
}

.image2 {
    height: 200px;
    width: 200px;
}

.image3 {
    height: 200px;
    width: 200px;
}

.image4 {
    height: 200px;
    width: 200px;
}

.image5 {
    height: 200px;
    width: 200px;
}

.image6 {
    height: 200px;
    width: 200px;
}

.image7 {
    height: 200px;
    width: 200px;
}

.image8 {
    height: 200px;
    width: 200px;
}

.image9 {
    height: 200px;
    width: 200px;
}

table {
    text-align: center;
    width: 1000px;
    margin: auto;
}

/*テーブルの余白設定*/
td,th {
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;  
}

a:hover {   
    color: #67A7CC;
}

/*ページャー*/
* {
    margin: auto;
    padding: 0;
    font-style: normal;
    list-style: none;
}

.pagination {
    text-align: center;
}

ul.pager {
    margin: 40px auto;
    display: inline-block;
    *display:inline;
    zoom:1;
}

ul.pager li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px #999999 solid;
}
ul.pager li.next {
    border-right: none;
}

ul.pager li a:link,
ul.pager li a:visited {
    color: #67A7CC;
    text-decoration: none;
}

ul.pager li a:hover,
ul.pager li a:active {
    color: white;
    text-decoration: none;
}

ul.pager li em {
    font-weight: bold;
}
/*フッター部分*/
footer {
    background-color: #FFF;
    margin: auto;
    height: 100px;
}

footer li {
    float: left;
    margin: 15px 0 0 0;
}

footer a {
    margin: 15px 0 0 20px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.rule {
    margin:25px
}


.copyright a {
    float: right;
    margin: 80px 20px 0 0;
}

